{{#if error_msg}}
	<div class="alert alert-danger alert-dismissible fade show fixed-top" role="alert">
  		<strong> <i class="fas fa-server"></i> Sistema: </strong> 
  		{{error_msg}}
  		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
{{/if}}
{{#if success_msg}}
	<div class="alert alert-success alert-dismissible fade show fixed-top" role="alert">
  		<strong> <i class="fas fa-server"></i> Sistema: </strong> 
  		{{success_msg}}
  		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
{{/if}}
{{#if error}}
	<div class="alert alert-danger alert-dismissible fade show fixed-top" role="alert">
  		<strong> <i class="fas fa-server"></i> Sistema: </strong> 
  		{{error}}
  		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
{{/if}}